#-----------------------------------------------------------------------
# Application ignores
#-----------------------------------------------------------------------

/dist/
/Version

#-----------------------------------------------------------------------
# Testing shit
#-----------------------------------------------------------------------

/test/smoke/sandbox/

#-----------------------------------------------------------------------
# Developer shit
#-----------------------------------------------------------------------

/.local/
